

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  
<div class="container">
  <h2><%=t('devise.resend_unlock_instructions')%></h2>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.resend_instruction'),class: "btn btn-outline-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
