

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
    <h2><%= t('devise.forgot_password') %></h2>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control",autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit t('devise.resend_instruction'),class: "btn btn-outline-success" %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


