<%= form_with model: @post , url: path  , html: {multipart: true} , method: "post" do |post| %>

    <div class="mx-5">

        <% if @post.present? %>
            <% @post.car.errors.each do |attr , msg| %>
                <div class="alert alert-danger" role="alert">
                    <%= attr %> <%= msg %>
                </div>
            <% end %>
            <% @post.errors.each do |attr , msg| %>
                <div class="alert alert-danger" role="alert">
                    <%= attr %> <%= msg %>
                </div>
            <% end %>
        <% end %> 
            

        <%= fields_for :car, @post.car do |car| %>
            <div class="input-group mb-3">
                <div class="input-group-prepend">    
                    <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
                </div>
                <%= car.text_field :price, class: "form-control" %>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">    
                    <span class="input-group-text" id="inputGroup-sizing-default">Car name</span>
                </div>
                <%= car.text_field :car_name , class: "form-control" %>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">    
                    <span class="input-group-text" id="inputGroup-sizing-default">Drivetrain</span>
                </div>
                <%= car.text_field :drivetrain , class: "form-control" %>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">    
                    <span class="input-group-text" id="inputGroup-sizing-default">Location</span>
                </div>
                <%= car.text_field :location , class: "form-control" %>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">    
                    <span class="input-group-text" id="inputGroup-sizing-default">Transmition</span>
                </div>
                <%= car.text_field :transmition , class: "form-control" %>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">    
                    <span class="input-group-text" id="inputGroup-sizing-default">VIN</span>
                </div>
                <%= car.text_field :vin , class: "form-control" %>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">    
                    <span class="input-group-text" id="inputGroup-sizing-default">Exterior collor</span>
                </div>
                <%= car.text_field :exterior_collor , class: "form-control" %>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">    
                    <span class="input-group-text" id="inputGroup-sizing-default">Interior collor</span>
                </div>
                <%= car.text_field :interior_collor , class: "form-control" %>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">    
                    <span class="input-group-text" id="inputGroup-sizing-default">Millage</span>
                </div>
                <%= car.text_field :millage , class: "form-control" %>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">    
                    <span class="input-group-text" id="inputGroup-sizing-default">Body style</span>
                </div>
                <%= car.text_field :body_style , class: "form-control" %>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">    
                    <span class="input-group-text" id="inputGroup-sizing-default">Engine</span>
                </div>
                <%= car.text_field :engine , class: "form-control" %>
            </div>

        <% end %>

        <div class="input-group mb-3">
            <div class="input-group-prepend">    
                <span class="input-group-text" id="inputGroup-sizing-default">Small description</span>
            </div>
            <%= post.text_field :small_description , class: "form-control" %>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">    
                <span class="input-group-text" id="inputGroup-sizing-default">Main description</span>
            </div>
            <%= post.text_area :big_description , class: "form-control" %>
        </div>

        <%= post.file_field :image %>

    
        <div class="mt-3">
            <%= post.submit  "Publish" , class:"btn btn-outline-secondary mb-2" %>
        </div>
    </div>

<% end %>