<!-- Page Content -->
<div class="mb-2">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link " href="?sort=newest">Newest posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?sort=oldest">Oldest posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?sort=expencive">Most expencive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="?sort=cheapest" >The cheapest</a>
    </li>
  </ul>
</div>
  <div class="container mt-6">

    <div class="row mt-6">

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
          <%@posts.each do |post|%>
            <div class="col-lg-4 col-md-6 mb-4 rounded">
              <div class="card h-100 my-0">
                <a href="/posts/<%= post.id%>"><%= image_tag(post.image.index_thumb.url, alt: 'Image' ,class:"rounded-top" ) if post.image? %></a>
                <div class="card-body my-0 ">
                  <h4 class="card-title my-0 ">
                    <a href="/posts/<%= post.id%>"> <%=post.car.car_name%>  </a>
                  </h4>
                  <h5 class="my-0"><%=post.car.price.to_i%>$</h5>
                  <p class="card-text my-0"><%=post.small_description%></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
          <%end%>
          
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>