<!-- Page Content -->
  <div class="container mt-6">

    <div class="row mt-6">

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
          <%@posts.each do |post|%>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100 my-0">
                <a href="/posts/<%= post.id%>"><img class="card-img-top my-0" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body my-0">
                  <h4 class="card-title my-0">
                    <a href="/posts/<%= post.id%>"> <%=post.car.car_name%>  </a>
                  </h4>
                  <h5 calss="my-0"><%=post.car.price.to_i%>$</h5>
                  <p class="card-text my-0"><%=post.small_description%></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
          <%end%>
          
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Crated by Vladik</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>