 <form action="/posts/show" method="get" >
  <div class="container">

    <div class="row">

        <!-- Post Content Column -->
      <div class="col-lg-10">

        <!-- Title -->
        <h1 class="mt-2 mb-0"><%=@post.car.brand.title + " " +@post.car.car_model.title%> </h1>
        <h5 class="mb-4 mt-0"><%=@post.small_description%></h5>

        <hr>

        <p>Posted on <%=@post.created_at%></p>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
           <% @car.images.each_with_index do |image, index| %>
              <div class=<%="carousel-item" + (index == 0 ? "\u00A0active" : "" )%>>
                <%= image_tag image.show_thumb.url, class: "d-block w-100" %>
              </div>
            <%end%>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Prev</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

          <table class="table table-bordered mt-4">
            <tbody>
              <tr>
                <th class="table-active"> <%=t('activerecord.attributes.user.user_name')%></th>
                <td><%=@post.user_id%></td>
                <th class="table-active"> <%=t('activerecord.attributes.car.drivetrain')%> </th>
                <td><%=@post.car.drivetrain%></td>
              </tr>
              <tr>
                <th class="table-active"> <%=t('activerecord.attributes.car.location')%> </th>
                <td><%=@post.car.location%></td>
                <th class="table-active"> <%=t('activerecord.attributes.car.transmition')%> </th>
                <td><%=@post.car.transmition%></td>
              </tr>
              <tr>
                <th class="table-active"><%=t('activerecord.attributes.car.vin')%></th>
                <td><%=@post.car.vin%></td>
                <th class="table-active"><%=t('activerecord.attributes.car.exterior_collor')%> </th>
                <td><%=@post.car.exterior_collor%></td>
              </tr>
              <tr>
                <th class="table-active"><%=t('activerecord.attributes.car.millage')%> </th>
                <td><%=@post.car.millage%></td>
                <th class="table-active"><%=t('activerecord.attributes.car.interior_collor')%> </th>
                <td><%=@post.car.interior_collor%></td>
              </tr>
              <tr>
                <th class="table-active"><%=t('activerecord.attributes.car.body_style')%>  </th>
                <td><%=@post.car.body_style%></td>
                <th class="table-active"><%=t('activerecord.attributes.car.engine')%></th>
                <td><%=@post.car.engine%></td>
              </tr>
              <tr>
                <th class="table-active"><%=t('activerecord.attributes.car.engine_volume')%>  </th>
                <td><%=@post.car.engine_volume%></td>
                <th class="table-active"><%=t('activerecord.attributes.car.type_of_fuel')%></th>
                <td><%=@post.car.type_of_fuel%></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <h2> <%=t('activerecord.attributes.post.big_description')%> </h2>
          <!-- Post Content -->
          <p class="lead"><%=@post.big_description%></p>
</form>
          <!-- Comment with nested comments -->
        <%= react_component("CommentsApp", { comments: @comments, replies: @replies, csrf_token: form_authenticity_token, post_id: @post.id}) %>

        </div>

        <!-- Sidebar Widgets Column -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>