<!DOCTYPE html>
<html>
  <head>
    <title>Sellscar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render partial: "layouts/nav_bar" %>
  <div class="mt-2 wraper" style="height: 100%">
    <%= yield %>
  </div>

    <!-- Footer -->
  <footer class="py-4 bg-dark" id="footer">
    <div class="container">
      <p class="m-0 text-center text-white">All rights reserved</p>
      <p class="m-0 text-center text-white font-italic">Still have some questions? Write to Sellscar@gmail.com and we will contact you soon</p>
    </div>
    <!-- /.container -->
  </footer>
  </body>
</html>
