<!DOCTYPE html>
<html>
  <head>
    <title>Sellscar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render partial: "layouts/nav_bar" %>
  <div class="mt-2">
    <%= yield %>
  </div>

    <!-- Footer -->
  <!--<footer class="py-4 bg-dark" id="footer">
    <div class="container">
      <p class="m-0 text-center text-white">Crated by Vladik</p>
    </div>-->
    <!-- /.container -->
  </footer>
  </body>
</html>
