<!DOCTYPE html>
<html>
  <head>
    <title>Sellscar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <a class="navbar-brand" href="#">SellsCar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/posts/index">All cars <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/user_cars">Your Cars</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">About us</a>
        </li>
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
      
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <div>
          <button class="btn btn-outline-success my-2 mr-4 my-sm-0" type="submit" left=0.3en>Search</button>
          <%if user_signed_in?%>
            <a class="btn btn-outline-dark my-2 my-sm-0" role="button" href=<%=  %>> Sign Out </a>
          <%else%>
            <a class="btn btn-outline-dark my-2 my-sm-0" role="button" href=<%= new_user_session_path  %>> Sign In </a>
            <a class="btn btn-outline-dark my-2 my-sm-0" role="button" href=<%= new_user_registration_path %>> Sign Up </a>
          <%end%>
        </div>
      </form>
  </nav>
  <div class="mt-2">
    <%= yield %>
  </div>

    <!-- Footer -->
  <footer class="py-4 bg-dark" id="footer">
    <div class="container">
      <p class="m-0 text-center text-white">Crated by Vladik</p>
    </div>
    <!-- /.container -->
  </footer>
  </body>
</html>
